# Игнорируем файлы IDE
.idea/
*.iml

# Игнорируем сгенерированные файлы
build/
.gradle/
bin/

# Игнорируем логи
*.log

# Игнорируем артефакты тестирования
artifacts/
screenshots/

# Игнорируем драйверы браузеров
webdriver/